@charset "utf-8";
/* CSS Document */
html,body{
	font-size:10px;
	width:100%;
}
body{
	min-width: 1200px;
	overflow: scroll
}
a{
	text-decoration: none
}
@media(max-width:600px){
	body{width:100vw;}
	#nav{width:100vw}
	#aaa{width:100vw}
	#eee{width:100vw}
	#ddd{width:100vw}
	#bbb{width:100vw}
	#ccc{width:100vw}
	}
@media(max-width:700px){
	body{width:100vw;}
	#nav{width:100vw}
	#aaa{width:100vw}
	#eee{width:100vw}
	#ddd{width:100vw}
	#bbb{width:100vw}
	#ccc{width:100vw}
}
@media(max-width:800px){
	body{width:100vw;}
	#nav{width:100vw}
	#aaa{width:100vw}
	#eee{width:100vw}
	#ddd{width:100vw}
	#bbb{width:100vw}
	#ccc{width:100vw}
}
@media(max-width:960px){
	body{width:100vw;}
	#nav{width:100vw}
	#aaa{width:100vw}
	#eee{width:100vw}
	#ddd{width:100vw}
	#bbb{width:100vw}
	#ccc{width:100vw}
}
@media(max-width:1100px){
	body{width:100vw;}
	#nav{width:100vw}
	#aaa{width:100vw}
	#eee{width:100vw}
	#ddd{width:100vw}
	#bbb{width:100vw}
	#ccc{width:100vw}
}
@media(max-width:1200px){
	body{width:100vw;}
	#nav{width:100vw}
	#aaa{width:100vw}
	#eee{width:100vw}
	#ddd{width:100vw}
	#bbb{width:100vw}
	#ccc{width:100vw}
}
@media(max-width:1300px){
	body{width:100vw;}
	#nav{width:100vw}
	#aaa{width:100vw}
	#eee{width:100vw}
	#ddd{width:100vw}
	#bbb{width:100vw}
	#ccc{width:100vw}
}
@media(max-width:1400px){
	body{width:100vw;}
	#nav{width:100vw}
	#aaa{width:100vw}
	#eee{width:100vw}
	#ddd{width:100vw}
	#bbb{width:100vw}
	#ccc{width:100vw}
}
@media(max-width:1500px){
	body{width:100vw;}
	#nav{width:100vw}
	#aaa{width:100vw}
	#eee{width:100vw}
	#ddd{width:100vw}
	#bbb{width:100vw}
	#ccc{width:100vw}
}
@media(max-width:1600px){
	body{width:100vw;}
	#nav{width:100vw}
	#aaa{width:100vw}
	#eee{width:100vw}
	#ddd{width:100vw}
	#bbb{width:100vw}
	#ccc{width:100vw}
}
main{
	width:min(70ch,100% - 4rem);
	margin-inline:auto;
}
h1{
	font-size: 4rem;
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	margin-bottom: 5vw
}
h2{
	font-size: 3rem;
}
h3{
	font-size: 2rem;
}
p{
	font-size:1.8rem;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	word-break: normal;
	
}
#myBtn {
			position: fixed;
			bottom: 8vw;
			right: 4vw;
			z-index: 99;
			border: none;
			cursor: pointer;
			inline-height:0;
			font-size:0;
			width:7.5rem;
			height:7.5rem;
			background-color:rgba(0,0,0,0.00);
			background-image: url("images/组件 1 – 4.png");
			opacity: 0.6;
			background-repeat: no-repeat;
			}
#myBtn:hover {
	filter:drop-shadow(4px 4px 4px rgba(12,0,0,0.2));
	opacity: 1
}
#nav{
	position: fixed;
	width:100%;
	height:4.5vw;
	float:left;
	background:linear-gradient(rgba(8,54,67,1),rgba(184,236,215,1));
	top:0;
	left:0;
	right:0
	
}
/*侧边导航栏*/

#float{
	height:20vw;
	position: fixed;
	margin-top:10vw;
	margin-left: 3vw;
	font-size: 1.5vw;
	font-weight: normal
	
}
#aaa{
	width:60%;
	height:95rem;
	float:left;
	margin-left:15vw;
	margin-top:10vw;
	padding-top:7vw;
	padding-left:5vw;
	padding-right:5vw;
	background-color: #FEF5F5;
	border-radius: 5vw;
	box-shadow: 10px 7px 10px 1px #DCD7D7;
	
}
#eee{
	width:60%;
	height:70rem;
	float:left;
	margin-left:15vw;
	margin-top:5vw;
	padding-top:5vw;
	padding-left:5vw;
	padding-right:5vw;
	background-color: #FEF5F5;
	border-radius: 5vw;
	box-shadow: 10px 7px 10px 1px #DCD7D7 ;
}
#ddd{
	width:60%;
	height:85rem;
	float:left;
	margin-left:15vw;
	margin-top:5vw;
	padding-top:5vw;
	padding-left:5vw;
	padding-right:5vw;
	background-color: #FEF5F5;
	border-radius: 5vw;
	box-shadow: 10px 7px 10px 1px #DCD7D7 ;
}
#bbb{
	width:60%;
	height:56rem;
	float:left;
	margin-left:15vw;
	margin-top:5vw;
	padding-top:5vw;
	padding-left:5vw;
	padding-right:5vw;
	background-color: #FEF5F5;
	border-radius: 5vw;
	box-shadow: 10px 7px 10px 1px #DCD7D7 ;
	z-index: -99
}
#ccc{
	width:60%;
	height:90rem;
	float:left;
	margin-left:15vw;
	margin-top:5vw;
	padding-top:5vw;
	padding-left:5vw;
	padding-right:5vw;
	background-color: #FEF5F5;
	border-radius: 5vw;
	box-shadow: 10px 7px 10px 1px #DCD7D7 ;
}
#foot{
	width:100%;
	height:15vw;
	background:linear-gradient(#fff,rgba(184,236,215,0.9),rgba(8,54,67,0.5));
	margin-top:8vw;
	float:left;
	bottom:0
	
}
/*导航栏*/
.function:link,.function:visited {
			display:inline-block;
		    width:16vw;
			font-family: Bronova;
			font-weight:bold;
			font-size: 1.2vw;
			color: rgba(184,236,215,1);
			background-color:rgba(8,54,67,1);
	
			text-align:center;
			padding:0.1vw;
			text-decoration:none;
			text-transform:uppercase;
			border:2px solid rgba(255,255,255,0);
			border-radius: 2.6vw;
	height:2vw;
	padding-bottom:1.5vw;
	margin-top: 0.2vw;
	margin-bottom: 0.2vw;
		}
		.function:hover,.function:active {
			text-decoration: underline;
			border-radius: 2.6vw;
			filter: drop-shadow(4px 4px 8px rgba(255,255,255,0.80));
			border:2px solid rgba(184,236,215,1);
			}

.items {
    width:100%;
	left:0;
	top:0;
	height: 0;
	float: left;
	background: rgba(8,54,67,1);
}

.menu{
    width: 20vw;
    height: 4vw;
    background: rgba(8,54,67,1);
    line-height: 3.5vw;
    text-align: center;
    position:fixed;
	top:0;
    overflow:hidden;
	z-index: 99;
	float: left;
	margin-left:20vw;
	border-radius: 1rem;
	
	
}
.menu:hover{
    overflow:visible;
	width:20vw;
    color: rgba(8,54,67,1);
    z-index:999;
    cursor:pointer;
}
.menu1{
    width: 20vw;
    height: 4vw;
    background: rgba(8,54,67,1);
    line-height: 3.5vw;
    text-align: center;
    position:fixed;
	top:0;
    overflow:hidden;
	font-family: Bronova;
	font-weight: Bold;
	font-size: 1.4vw;
	z-index: 99;
	float: left;
	margin-left:36vw;
	border-radius: 1vw;
	
	
}
.menu1:hover{
    overflow:visible;
	width:20vw;
    color: rgba(8,54,67,1);
    z-index:999;
    cursor:pointer;
	
}
.menu2{
    width: 20vw;
    height: 4vw;
    background: rgba(8,54,67,1);
    line-height: 3.5vw;
    text-align: center;
    position:fixed;
	top:0;
    overflow:hidden;
	font-family: Bronova;
	font-weight: Bold;
	font-size: 1.4vw;
	z-index: 99;
	float: left;
	margin-left:52vw;
	border-radius: 1vw
	
}
.menu2:hover{
    overflow:visible;
	width:20vw;
    color: rgba(8,54,67,1);
    z-index:999;
    cursor:pointer;
}
.menu3{
    width: 20vw;
    height: 4vw;
    background: rgba(8,54,67,1);
    line-height: 3.5vw;
    text-align: center;
    position:fixed;
	top:0;
    overflow:hidden;
	font-family:Bronova;
	font-weight: Bold;
	font-size: 1.4vw;
	z-index: 99;
	float: left;
	margin-left:66vw;
	border-radius: 1vw
	
}
.menu3:hover{
    overflow:visible;
	width:20vw;
    color: rgba(8,54,67,1);
    z-index:999;
    cursor:pointer;
}
.drop{
    filter:drop-shadow(2px 2px 2px rgba(255,255,255,0.80));
	text-shadow: -1px 1px 0 #FFF, 1px 1px 0 #FFF,1px -1px 0 #FFF,-1px -1px 0 #FFF;
    text-align: center;
    width: 15vw;
    height: 2.5vw;
    line-height: 2.9vw;
    overflow: hidden;
	font-weight:normal;
	margin-left:2.2vw;
	font-weight: bold;
	font-size:1vw;
	color:rgba(8,54,67,1);
	border:2px solid rgba(255,255,255,0);
}
.drop a{
	color:#476C5E
}
.drop:active,.drop:hover{
    background: rgba(184,236,215,1);
	filter: drop-shadow(4px 4px 4px rgba(184,236,215,0.80));
    cursor: pointer;
	border: 2px solid #0E5468;
	border-radius: 1.6vw;
	color:#53831F
}
	.row2{
		
		padding-left:23vw;
		margin-left:36vw;
		width:28vw;
		margin-top:2.6vw;
		z-index: 11;
		
	}
	.row2 img{
		float: left;
		margin-left:4vw
	}
.pichange{
	width:2vw;
	height:2vw;
	overflow: hidden;
	border:2px solid rgba(255,255,255,0);
}
.pichange img{
	border:2px solid rgba(255,255,255,0);
	padding-left:0;
	padding-top: 5px;
	height:20px;
	width:20px;
}
.pichange:hover img:last-child{
	display: block;
	border:2px solid rgba(255,255,255,0);
	cursor: pointer
}
.pichange:hover img:first-child{
	display: none;
	border:2px solid rgba(255,255,255,0);
	cursor: pointer
}
.pichange img:last-child{
	display: none;
	border:2px solid rgba(255,255,255,0);			
}
.website{
	text-decoration: none;
	color:#476C5E
}
.website:hover{
	text-decoration: underline;
	color:#9FA939
}
.website:visited{
	color:#9FA939
}
